Repository ClinicalTrialsTeam/CTFrontier, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ClinicalTrialsTeam/ct-team, @elarens, @bapower, @nataliemona, @swt144, @bragu, @BlanchardMR

Django debug toolbar - for profiling (#59)
  backend/core/settings.py
  backend/core/urls.py
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/requirements/dev.txt
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

add more logging
  backend/ctgov/api/views.py
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

Add files via upload
  database/scripts/New_Countries.sql
Owners: @ClinicalTrialsTeam/ct-team

moved etl_target.py, added dependencis
  backend/etl_target.py
  backend/requirements/base.txt
  backend/requirements/dev.txt
  scripts/etl_target.py
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @ClinicalTrialsTeam/ct-team

fix frontend docker file
  backend/.dockerignore
  frontend/Dockerfile.dev
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

Add files via upload (#64)
  database/scripts/New_Countries.sql
Owners: @ClinicalTrialsTeam/ct-team

update readme and frontend for new countries api
  backend/README.md
  frontend/src/components/organisms/SearchForm/SearchForm.js
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

update developer manual
  developer_manual.md
Owners: @ClinicalTrialsTeam/ct-team

intermediate updates
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
  frontend/src/components/organisms/ListViewTable/ListViewTableConfig.js
  frontend/src/components/organisms/SingleTrialDisplay/SingleTrialDisplay.js
Owners: @elarens, @bapower, @nataliemona

add frontend logging
  backend/core/settings.py
  backend/core/urls.py
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/requirements/dev.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

log
  backend/core/settings.py
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

add log folder path
  backend/var/log/.gitkeep
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

fix some logging related things
  backend/.dockerignore
  cdk/aws-instructions.txt
  cdk/db_password.txt
  cdk/lib/load_balancer.py
  cdk/myconfig.json
  cdk/notes.md
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
  frontend/src/components/organisms/SearchForm/SearchForm.js
  frontend/src/index.js
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

remove text file
  cdk/aws-instructions.txt
Owners: @nataliemona

remove file
  cdk/db_password.txt
Owners: @nataliemona

remove file
  cdk/myconfig.json
Owners: @nataliemona

remove file
  cdk/notes.md
Owners: @nataliemona

ignore
  cdk/.gitignore
Owners: @nataliemona

added data to single trial page
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
  frontend/src/components/organisms/SingleTrialDisplay/SingleTrialDisplay.js
Owners: @elarens, @bapower, @nataliemona

added comments and changed base.in and dev.in files
  backend/etl_target.py
  backend/requirements/base.in
  backend/requirements/dev.in
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

work on pagination
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
Owners: @elarens, @bapower, @nataliemona

bug fixes
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
Owners: @elarens, @bapower, @nataliemona

removed query limit
  backend/etl_target.py
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona

add more logging, hard code api base url in dev docker
  backend/ctgov/api/views.py
  frontend/Dockerfile.dev
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

Feature/fe/single trial page with data (#66)
  backend/ctgov/api/views.py
  frontend/Dockerfile.dev
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
  frontend/src/components/organisms/ListViewTable/ListViewTableConfig.js
  frontend/src/components/organisms/SingleTrialDisplay/SingleTrialDisplay.js
Owners: @swt144, @bragu, @BlanchardMR, @bapower, @nataliemona, @elarens

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @ClinicalTrialsTeam/ct-team
/frontend/ @elarens @bapower @nataliemona
/backend/ @swt144 @bragu @BlanchardMR @bapower @nataliemona
docker-compose.yml @nataliemona
Dockerfile @nataliemona
.eslint.json @nataliemona
.flake8 @nataliemona
/cdk/ @nataliemona
.github/ @nataliemona
