Repository ClinicalTrialsTeam/ctfrontier, pull requests merged in 2021-03, with the labels that each got.

#23 Feature/ct 28 parse and display search results
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
  frontend/src/components/organisms/ListViewTable/ListViewTableConfig.js
  frontend/src/components/organisms/SearchForm/SearchForm.js
Labels: frontend

#25 added layout
  frontend/src/App.js
  frontend/src/components/organisms/Layout/Layout.css
  frontend/src/components/organisms/Layout/Layout.js
  frontend/src/components/views/SearchView/SearchView.js
  frontend/src/components/views/TrialView/TrialView.js
Labels: frontend

#24 Added additional parameters to basic search API and other features indicated in comments.
  .flake8
  backend/README.md
  backend/ctgov/api/serializers.py
  backend/ctgov/api/views.py
  backend/ctgov/documents.py
  backend/ctgov/models.py
  backend/ctgov/views.py
  backend/requirements.in
  backend/requirements.txt
  database/examples/basic_search_query.json
  database/scripts/basic_search.sql
Labels: api

#22 Smaller faster containers, all on the same network, option to run app w/o elasticsearch, switch to python 3.8
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  README.md
  backend/Dockerfile
  backend/core/settings.py
  cdk/README.md
  docker-compose.yml
  elasticsearch.yml
  frontend/Dockerfile
  pyproject.toml
Labels: infrastructure

#29 converted ListViewTable to Class
  frontend/src/components/organisms/ListViewTable/ListViewTable.js
Labels: frontend

#30 Cloud development CLI tool
  .flake8
  .gitignore
  backend/core/search.py
  backend/ctgov/admin.py
  backend/ctgov/api/serializers.py
  backend/ctgov/api/urls.py
  backend/ctgov/api/views.py
  backend/ctgov/documents.py
  backend/ctgov/tests.py
  backend/ctgov/urls.py
  backend/ctgov/views.py
  cdk/.gitignore
  cdk/README.md
  cdk/cdk.json
  cdk/config-schema.json
  cdk/ctf/__init__.py
  cdk/ctf/cli.py
  cdk/ctf/common.py
  cdk/ctf/config_commands.py
  cdk/ctf/function_commands.py
  cdk/ctf/stack_commands.py
  cdk/image/Dockerfile
  cdk/image/app.py
  cdk/image/requirements.in
  cdk/image/requirements.txt
  cdk/lib/app.py
  cdk/lib/aws.py
  cdk/lib/bucket.py
  cdk/lib/environment.py
  cdk/lib/function.py
  cdk/lib/monitoring.py
  cdk/lib/names.py
  cdk/lib/stack.py
  cdk/requirements/base.in
  cdk/requirements/base.txt
  cdk/requirements/dev.in
  cdk/requirements/dev.txt
  cdk/setup.py
  pyproject.toml
Labels: infrastructure
